[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/dskarlov/les24.Homework
ExecStart=/home/dskarlov/les24.Homework/venv/bin/python run.py

[Install]
WantedBy=multi-user.target